#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 50px;
}

#head, #metronome{
    background-color: bisque;
    padding: 30px;
    border: 1px orange solid;
    border-radius: 5px;
    width: 90%;
}

#head{
    display: flex;
    justify-content: space-between;
}

button{
    background-color: rgb(58, 150, 255);
    color: rgb(227, 216, 195);
    border: 1px rgb(237, 186, 152) solid;
    border-radius: 5px;
    padding: 5px 10px;
}

#playButton{
    font-size: 1.5rem;
}

.beat{
    background-color: black;
    padding: 12px;
    border-radius: 12px;
}

#beatContainer{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

#beatInputContainer{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

[list="beatInput"]{
    width: 18px;
    background-color: aqua;
    border: 1px rgb(237, 186, 152) solid;
    border-radius: 8px;
}